@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}
/* 
body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
} */

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 10px;
	width: 500px;
	
}

@media only screen and (max-width: 750px) {
    .progress
	{
		width: 200px;
	}
   
	 
	 }
	 
@media only screen and (min-width: 768px) {
    .progress
	{
		width: 400px;
	}
   
	 
	 }
	 

.progress-done {
	background: linear-gradient(to left, #11c94e, #11c94e);
	box-shadow: 0 3px 3px -5px #11c94e, 0 2px 5px #11c94e;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}