.detail-page{
    background-color: white;
    margin-left: 220px;
    margin-top: 80px;
    height: 100%;
    width: 80vw;
    padding-top:30px ;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


    @media only screen and (max-width: 650px) {
    
       
        width: 250px;
         
         }


         @media only screen and (min-width: 650px) {
    
            width: 450px;
           
             }

         @media only screen and (min-width: 900px) {
    
            width: 1000px;
           
             }
}