.sub-header{
    display: flex;
    padding: 0;
    margin: 0;
   

p{
    margin: 0;
    
}


    .sub-header__title{
        
        background-color: rgb(255, 253, 253);
        
    
        
        // margin-left: 170px;
        width: 20%;
       
        display: flex;
        // padding-top: 13px;
        // padding-bottom: 13px;
        color: gray;
        height: 42px;

        .option{
            margin-left: 5px;
            padding-left: 12px;
            // padding-right: 2px;
            width: 110px;

          position: relative;
          top: 12px;
          cursor: pointer;

          @media only screen and (max-width: 750px) {
            font-size: 15px;
            padding-left: 4px;
            margin-left: 2px;
            width: 84px;
           
           
           
           }
          
        }

        .option:hover{
            background-color: rgb(233, 233, 233);
           padding-top: 12px;
           padding-bottom: 12px;
           position: relative;
           top: 0px;
        }
    }

  
}