.detail-item {
    width: 100%;
   height: 100%;
     display: column;
    // flex-direction: column;
    // height: 100%;
    // align-items: center;
     position: relative;
    // background-color: rgb(46, 43, 43);
    margin-left: 20px;
    box-shadow: 20px;
    border-radius: 15px 50px;
    padding-right: 50px;
    overflow-x: hidden;
    overflow-y: hidden;

    
    
   .detail-image{

    
    @media only screen and (max-width: 750px) {
    
       
      width: 50%;
       
       }
   }
    
   
    
   .slider{
     margin-top: 50px;
     margin-bottom: 20px;
   width: 60%;
   height: 100%;
   margin-left:15%;
   padding-bottom: 29px;

   

   
   
   }
   
  
    
    .remove-detail {
      position: absolute;
      top: 10px;
       right: -50%;
      cursor: pointer;
    }
  
    .detail{
      height: 15%;
      width: 20%;
      position: absolute;
      right: 10px;
      top: 40%;
      
    }
  
    button{
      
     
     
      border: none;
      font-size: 15px;
      color: #FFFFFF;
      padding: 10px;
      width: 95px;
      text-align: center;
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      background-color: #4CAF50;
    
    }
    
    button:hover{
      background-color: #3e6e34;
    }
  
  
    
    .click{
      width: 70px;
      height: 35px;
      position: relative;
      left: 450px;

      @media only screen and (max-width: 650px) {
    
        left: -50px;
        top:40px
       
         
         }

      @media only screen and (min-width: 650px) {
    
        left: 80px;
        top:40px
       
         
         }
      @media only screen and (min-width: 900px) {
    
        left: 450px;
        top:40px
       
         
         }
    }

    .progress{
      margin-top: 85px;
      position: absolute;
      left: 220px;
      top: 110px;

      @media only screen and (max-width: 650px) {
    
        left: 10px;
       
         
         }
      @media only screen and (min-width: 650px) {
    
        left: 10px;
        top:190px
       
         
         }
         @media only screen and (min-width: 900px) {
    
          left: 220px;
          
         
           
           }
    }
  
    
  
    .detail-footer {
      position: relative;
      left: 170px;
      top: -180px;
      margin-top: 20px;
      width: 5%;
      height: 5%;
       margin-left: 15%;
      display: grid;
      grid-template-columns:1fr 1fr;
      gap: 20%;
      // justify-content: space-between;
      font-size: 35px;
     
     
      //  background-color: rgb(46, 43, 43);
    
  
    
  
  
      .name {
        width: 90%;
        margin-bottom: 15px;
        margin-right: 450px;
        position: relative;
        right: 140px;
        top: -20px;
        display: flex;

        @media only screen and (max-width: 650px) {
    
          top: 56px;
          right: 80px;
          margin-bottom: 0px;
          margin-right: 250px;
         
           
           }
        @media only screen and (min-width: 650px) {
    
          top: -20px;
          right: -30px;
          margin-bottom: 0px;
          margin-right: 250px;
         
           
           }

           @media only screen and (min-width: 900px) {
    
            top: 20px;
          right: 90px;
          margin-bottom: 0px;
          margin-right: 250px;
           
             
             }

       
      }
  
      .rating {
        position: relative;
        right: 30%;
        top: -20px;
        display: flex;

        @media only screen and (max-width: 850px) {
    
          
          right: 320px;
        
         
           
           }
        @media only screen and (min-width: 850px) {
    
          
          right: -70px;
        
         
           
           }
      }
    }
  }